.DS_Store
map/basic_map/basic_tree
map/basic_map/basic_tree_500
map/basic_map/basic_tree_1000
map/basic_map/basic_tree_1500
path_length/
data/
data_copy/
map/active_map/
map/basic_map_pool/
experiment/__pycache__/
map/__pycache__/
data/data_old/data_001_12trials/Icon
data/data_old/data_002/Icon
data/data_old/data_003/Icon
data/data_old/data_009/Icon
data/data_old/Icon
data/data_pilot/Icon
data/data_pilot/sub_1/Icon
data/data_pilot/sub_2/Icon
data/data_pilot/sub_4/Icon
data/Icon
data_copy/data_old/data_001_12trials/Icon
data_copy/data_old/data_002/Icon
data_copy/data_old/data_003/Icon
data_copy/data_old/data_009/Icon
data_copy/data_old/Icon
experiment/.idea/Icon
experiment/.idea/inspectionProfiles/Icon
experiment/debug_test/Icon
experiment/Icon/Users/sherrybao/Downloads/Research/Road_Construction/.gitignore
map/basic_map/Icon
map/Icon
map/qixiu/Icon
model/Icon
social_version/Icon
data_copy/data_pilot/Icon
data_copy/data_pilot/sub_1/Icon
data_copy/data_pilot/sub_2/Icon
data_copy/data_pilot/sub_4/Icon
data_copy/Icon
demo/Icon
pilot_031220/
pilot_031220/map/Icon

plot/Icon
plot/av_rc.png
plot/av_num.png
plot/num_est.png
plot/Qixiu_plot/Figure_1.png
plot/rc.png
*.png
plot/Icon
pilot_031220/Icon
demo/Icon
plot/qixiu_plot/Icon
Plot/fig/Icon
rc_all_data/
rushhour/
model/output.txt
*.pyc
.Rproj.user
